<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "com.itheima.reggie.mapper.DishMapper">

    <!-- 分页查询菜品和分类名字，按修改时间的降序排序 -->
    <select id="findByName" resultType="DishDto">
        SELECT d.*,c.name categoryName FROM dish d INNER JOIN category c ON d.category_id = c.id
        <!-- 如果有条件则按名字查询 -->
        <if test="name!=null and name!=''">
            WHERE d.name LIKE "%"#{name}"%"
        </if>
        <!-- 按修改时间的降序排序 -->
        ORDER BY sort, update_time DESC
    </select>

    <!--通过id修改菜单-->
    <update id="updateById">
        update dish
        <set>
            <if test="name!=null and name!=''">
                name = #{name},
            </if>
            <if test="categoryId!=null">
                category_id = #{categoryId},
            </if>
            <if test="price!=null">
                price = #{price},
            </if>
            <if test="code!=null and code!=''">
                code = #{code},
            </if>
            <if test="image!=null and image!=''">
                image = #{image},
            </if>
            <if test="description!=null and description!=''">
                description = #{description},
            </if>
            <if test="sort!=null">
                sort = #{sort},
            </if>
            <if test="status!=null">
                status = #{status},
            </if>
            <if test="updateTime!=null">
                update_time = #{updateTime},
            </if>
            <if test="updateUser!=null">
                update_user = #{updateUser},
            </if>
        </set>
        where id=#{id}
    </update>

    <!-- 通过分类id或菜品名字，查询菜品，只查询启用的菜品 -->
    <select id="findByCategoryId" resultType="com.itheima.reggie.entity.Dish">
        SELECT * FROM dish
        <where>
            <!-- 二个条件选一个 -->
            <choose>
                <when test="categoryId!=null">
                    category_id = #{categoryId}
                </when>
                <when test="name!=null and name!=''">
                    name like "%"#{name}"%"
                </when>
            </choose>
            AND `status`= #{status}
        </where>
    </select>
</mapper>